body{
   
   font-family: 'Titillium Web', sans-serif;

margin: 0;
background-color: brown;





}
.header {
   background-color: rgb(53, 53, 53);
   width: 100%;
   height: 50px;
   padding: 5px;
   display: flex; 
   justify-content:space-between; 
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.left {
    
   display: flex; 
   align-items: center;
   color: white;
}

.left h1 { 
   
   margin:15px;
   font-size: 25px;
}


.right {
   display: flex;
   align-items: center;
  
}

.right a {
  
   color: white;
   font-size: 20px;
   text-decoration: none;
   margin: 5px;
   margin-right: 15px;
}
.right a:hover {
   color: black;
}

h1{
text-align: center;
font-size: 100px;

}
.container{
   
      margin: 5px;
      display: flex;
      justify-content: center;
      height: 100vh;
      flex-wrap: wrap;
  justify-items: center;




}

.box{



   background-color: rgb(58, 58, 58);
   width: 220px;
   height: 330px;
   margin: 5px;
   color: white;
   font-size: 20px;
   padding: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
opacity: 0.5;
border: 10px solid black;











}
  .box img{
width: 60%;

  }
.box h1{
   display: block;
   font-size: 20px;
   margin-block-start: 0.83em;
   margin-block-end: 0.83em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold

}
.box a{
text-decoration: none;
color: white;
font-size: 20px;
}


.box:hover{
opacity: 1;
box-shadow: 5px 10px 18px #888888;
background : rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(226,45,9,1) 100%, rgba(0,212,255,1) 100%);

}

footer{
background-color: black;
color: white;
padding: 0.7rem;
text-align: center;
}

.flip-card {



   width: 300px;
   height: 200px;
   border: 1px solid #f1f1f1;
   perspective: 1000px
}

.flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
 }

 .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
 }


 .flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; 
   backface-visibility: hidden;
 }

 .flip-card-front {
   background-color: #bbb;
   color: black;
 }

 .flip-card-back {
   background-color: dodgerblue;
   color: white;
   transform: rotateY(180deg);
 }














